<div >
    <div class="row align-items-center text-center">
        <div class="col-4 ">
            <h4>Horarios de Atencion:</h4>
            <ul>
                <h5 class="text-muted">Lunes a Viernes: 8:00 a.m. 12.00 p.m</a></li>
                    <h5 class="text-muted">2:00 p.m. a 6:00 p.m</a></li>
                        <h5 class="text-muted">Sabados 8:00 a.m. 12:00 p.m</a></li>
            </ul>
        </div>
        <div class="col-4">
            <h4>Inmobiliaria Casas Neiva </h4>
            <img src="./../static/img/CasasNeiva.PNG">
        </div>
        <div class="col-4 ">
            <h4>Direccion:</h4>
            <h5 class="text-muted">Calle 9 #11 26 </h5>
            <h5 class="text-muted">Teléfono: 3214328791</h5>
        </div>
        
    </div>

</div>
